html,body{
  width:100%;
  height:100%;
}
*{
  border:0;
  padding: 0;
  margin: 0;
}

//轮播图显示宽高设置
$size:    200px;

.audioPlayer{
  width:$size;
  margin:auto;
  .music-box{
    width:$size;
    height:$size;
    position: relative;
    .poster{
      width:$size;
      height:$size;
      border-radius:$size;
      background-size: 100% 100%;
    }
    .btn{
      position: absolute;
      top:50%;
      left:50%;
      margin:-15% 0 0 -15%;
      width:30%;
      height:30%;
      background-size:100%;
      cursor: pointer;
    }
    .btn-play{
      background-image: url(imgs/Fsyukm_audio_play.png);
    }
    .btn-pause{
      background-image: url(imgs/1XxiCw_audio_pause.png);
    }
  }
  .progress-container{
    margin-top: 6%;
    width:$size;
    position: relative;
    font-size: 12px;
    color:#666666;
    .time{
      position: absolute;
      left:84.6%;
      top:-8px;
      width:80px;
      .cur-time{
        width:39px;
        display: inline-block;
        text-align: right;
      }
      .end-time{
        width:41px;
        margin-left: -4px;
        display: inline-block;
      }
    }
    .progress{
      width:84%;
      height:4px;
      border-radius: 4px;
      background-color: #e1e1e1;
      .cur-progress{
        float: left;
        height:4px;
        background-color: #f03843;
        border-radius: 4px;
      }
      .btn-drag{
        float: left;
        display: block;
        width:10px;
        height:10px;
        background: green;
        border-radius: 10px;
        cursor: pointer;
        margin-left:-10px;
        margin-top:-3px;
      }
    }
  }
}
